
.container {
   display: grid;
   grid-template: 
   "sidebar header"
   "sidebar main";
}

.sidebar {
   grid-area: sidebar;
   background-color: rgb(42, 154, 245);
   padding-right: 66px;
}

.sidebar_title {
   position: relative;
   padding-top: 10px;
   margin-bottom: 34px;
}

.sidebar_title svg {
   position: absolute;
   top: 13px;
   left: 8px;
   color: #fff;
}

.sidebar_title .title {
   font-size: 1.2rem;
   font-weight: 700;
   color: #fff;
   padding-left: 48px;
}


ul {
   list-style-type: none;
}

.sidebar_list {
   margin-left: 40px;

}

.sidebar_list a {
   text-decoration: none;
   color: #fff;
}

.sidebar_list li {
   position: relative;
   margin-bottom: 16px;
   font-weight: 600;
   padding-left: 8px;
}

.sidebar_list li:nth-child(6) {
   margin-bottom: 48px;
}

.sidebar_list svg {
   color: #fff;
   position: absolute;
   top: 0px;
   left: -25px;
}







.header {
   grid-area: header;
   background-color: red;
   display: grid;
   grid-template: 1fr 1fr / 1fr;
   margin-top: -42px;
}

.top_header {
   display: grid;
   grid-template-columns: auto auto;
   padding: 15px 0 0 28px;
   align-items: center;
}

.top_header__input {
   position: relative;
}

.top_header__input svg {
   color: rgb(68, 68, 68);
   position: absolute;
   top: 1px;
   left: 0;
}

.top_header__input input {
   width: 400px;
   background-color: rgb(185, 185, 185);
   border-radius: 20px;
   padding: 2px 6px;
   border: #fff;
   margin-left: 30px;
}

.top_header__icon {
   display: grid;
   grid-template: auto / repeat(auto-fit, minmax(50px, 1fr));
   grid-auto-flow: column;
   gap: 20px;
}

.top_header__icon img{
   background-color: black;
   width: 34px;
   height: 34px;
   border-radius: 50%;
}




.main {
   grid-area: main;
   background-color: yellow;
}




