
.container {
   display: grid;
   grid-template: 
   "sidebar header"
   "sidebar main";
}

.sidebar {
   grid-area: sidebar;
   background-color: rgb(42, 154, 245);
   padding-right: 66px;
}

.sidebar_title {
   position: relative;
   padding-top: 10px;
   margin-bottom: 34px;
}

.sidebar_title svg {
   position: absolute;
   top: 13px;
   left: 8px;
   color: #fff;
}

.sidebar_title .title {
   font-size: 1.2rem;
   font-weight: 700;
   color: #fff;
   padding-left: 48px;
}


ul {
   list-style-type: none;
}

.sidebar_list {
   margin-left: 40px;

}

.sidebar_list a {
   text-decoration: none;
   color: #fff;
}

.sidebar_list li {
   position: relative;
   margin-bottom: 16px;
   font-weight: 600;
   padding-left: 8px;
}

.sidebar_list li:nth-child(6) {
   margin-bottom: 48px;
}

.sidebar_list svg {
   color: #fff;
   position: absolute;
   top: 0px;
   left: -25px;
}







.header {
   grid-area: header;
   background-color: #fff;
   display: grid;
   grid-template: 1fr 1fr / 1fr;
   gap: 30px;
}

.top_header {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 15px 0 0 28px;
   align-items: center;
}

.top_header__input {
   position: relative;
}

.top_header__input svg {
   color: rgb(68, 68, 68);
   position: absolute;
   top: 1px;
   left: 0;
}

.top_header__input input {
   background-color: rgb(209, 209, 209);
   border-radius: 20px;
   padding: 2px 6px;
   border: #fff;
   margin-left: 30px;
   width: 100%;
}

.top_header__icon {
   display: grid;
   grid-template: auto / repeat(auto-fit, 1fr 1fr 1fr);
   grid-auto-flow: column;
   gap: 20px;
   justify-content: end;
   margin-right: 50px;
   align-items: center;
}

.top_header__icon img{
   background-color: black;
   width: 34px;
   height: 34px;
   border-radius: 50%;
}

.top_header__icon p {
   font-weight: 600;
   
}


.bottom_header {
   display: grid;
   grid-template: 1fr / 1fr 1fr;
   margin-top: -20px;
   height: 70px;
}

.bottom_header__left {
   display: flex;
   align-items: flex-start;
   margin: 0 0 0 26px;
   gap: 16px;
}

.bottom_header__left_image {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: #000;
}

.bottom_header__left_text {
   margin-top: 6px;
   display: flex;
   flex-direction: column;
   gap: 6px;
}

.bottom_header__left_title {
   font-size: 0.8rem;
}

.bottom_header__left_subtitle {
   font-size: 1.2rem;
   font-weight: 600;
}

.bottom_header__right {
   display: flex;
   align-items: flex-start;
   justify-content: flex-end;
   margin-right: 34px;
   gap: 20px;
}

.buttons_manage {
   color: #fff;
   font-size: 0.7rem;
   background-color: rgb(42, 154, 245);
   padding: 10px 20px;
   align-self: center;
   border-radius: 20px;
   margin-top: -15px;
}

.main {
   grid-area: main;
}

.main_container {
   background-color: rgba(156, 203, 242, 0.184);
   padding: 20px;
   box-shadow: inset 0px 2px 5px rgba(131, 131, 131, 0.74);
}

.main_grid_container {
   display: grid;
   grid-template-areas: 
   "left1 left1 left1 right1";
   gap: 24px;
}

.main_grid_container_left {
   grid-area: left1;
}

.main_grid_container_left_article {
   display: grid;
  
   grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));

   gap: 20px;
}

.main_grid_container_left_article .card {
   border-left: 5px solid rgb(255, 179, 0);
   border-radius: 8px;
   background-color: #fff;
   padding: 20px 14px;
   box-shadow: 0px 0px 10px rgb(198, 198, 198);

}

.main_grid_container_left_article .card p {
   color: rgb(128, 128, 128);
   font-size: 1.1rem;
}

.main_grid_container_left_article .card .title {
   color: #000;
   font-size: 1.4rem;
   font-weight: 600;
   margin-bottom: 2px;
}

.main_grid_title {
   font-size: 1.1rem;
   font-weight: 600;
   color: rgba(0, 0, 0, 0.629);
   margin-bottom: 8px;
}

.main_grid_container_right {
   grid-area: right1;
}

.main_grid_container_right_top_article .card {
   border-radius: 8px;
   background-color: #fff;
   padding: 20px 14px;
   box-shadow: 0px 0px 10px rgb(198, 198, 198);
   padding: 30px;
   margin-bottom: 60px;
}

.card_title {
   color: #000;
   font-size: 1rem;
   font-weight: 600;
   margin-bottom: 2px;
}
.card_text {
   color: rgba(0, 0, 0, 0.530);
   font-size: 0.9rem;
}
.card_separator {
   width: 90%;
   margin: 18px 14px;
   border: 0.5px solid rgba(171, 171, 171, 0.396);
}


.main_grid_container_right_bottom {
   
}

.main_grid_container_right_bottom_article .card .card_img {
   width: 44px;
   height: 44px;
   border-radius: 50%;
   background-color: #000;
   border: #fff;
}


.main_grid_container_right_bottom_article .card {
   display: flex;
   flex-direction: column;
   gap: 20px;
   border-radius: 8px;
   background-color: #fff;
   padding: 20px 14px;
   box-shadow: 0px 0px 10px rgb(198, 198, 198);
   padding: 30px;
   margin-bottom: 60px;
}

.main_grid_container_right_bottom_article .card_body {
   display: flex;
   gap: 15px;
}

.main_grid_container_right_bottom_article .card_content {
   padding-top: 5px;
   display: flex;
   flex-direction: column;
   gap: 4px;
}

.main_grid_container_right_bottom_article .card_status {
   color: rgb(109, 109, 109);
}